@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;1,700&family=Rubik&display=swap');

body{
    width: 100%;
    overflow-x:hidden;
    background: #E3EEF8;
    height: 5640px;}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around center;

}
nav{
    padding-right: 350px;
  
}

nav a{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #1F1F1F;
    font-weight: 400;
    text-decoration: none;

}

nav ul{
    height: 19px;
    list-style-type: none;
}
nav ul li{
    display: inline;
}

.btn-1{
    height: 40px;
    padding-top: 20px;
    font-family: 'Karla', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.5px;
    color: #258AFF;
    border-color: #258AFF ;
    box-sizing: border-box;
    border-radius: 3px;
    
  
}

.logo{

height: 30px;
font-family: 'Karla', sans-serif;
font-size: 25px;
line-height: 30px;
color: #1F1F1F;

}
.content-1{
    width: 540px;
    display: flex;
    flex-direction: column;
  align-items: center;
  padding-top: 130px;
  text-align: center;
 margin: auto;
  
}
.name-1{

    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 55px;
    line-height: 50px;
}
.text-1{
    letter-spacing: 2.8125px;
   font-weight: bold;
   line-height: 9px;
   color: #666666;
    font-size: 15px;
    font-family: 'Karla', sans-serif;
}
.text-2{
    font-family: 'Karla', sans-serif;
    font-size: 21px;
    line-height: 18px;
    color: #666666;
}
input{
    font-family: 'Karla', sans-serif;
font-size: 18px;
line-height: 21px;
letter-spacing: -0.9px;
padding-top: 10px;
padding-right: 37px;
padding-left: 12px;
padding-bottom: 10px;
color: #878B90;
height: 30px;
border: #FFFFFF;
}

.btn-2{
    height: 50px;
    width: 150px;
    font-family: 'Karla', sans-serif;
    
text-align: center;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.5px;
    color: #FFFFFF;
    border-color: #FC593B ;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #FC593B;
  
}
.description{
    font-family: 'Karla', sans-serif;
font-size: 17px;
line-height: 20px;
text-align: center;
letter-spacing: -0.32381px;
color: #878B90;
padding-top: 15px;
}
.page-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
padding-top: 180px;
width: 100%;
}

.page-1 h4{
    font-family: 'Karla', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 21px;
line-height: 32px;
letter-spacing: -1px;
color: #000000;
}
.page-1 p{
    font-family: 'Karla', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 28px;
color: #666666;

}

.down-1, .down-2, .down-3{
    width: 280px;
}
.shades{
    padding-left: 250px;
    
}

.list-2{
    
    height: 895px;
    width: 100%;
    background-color: #258AFF;
    color: white;
  display: flex;
  align-content: center;
  margin-top: 100px ;
}

.content-2{
    text-align: left;
   max-width: 480px;
   display: flex;
   flex-direction: column;
   margin: 0%;
  }
  .text-3{
    letter-spacing: 2.8125px;
   font-weight: bold;
   line-height: 9px;
   color: #FFFFFF;
    font-size: 15px;
    font-family: 'Karla', sans-serif;
}
.name-3{
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FFFFFF;
}
.text-4{
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    line-height: 25px;
    color:#FFFFFF;
}
.btn-3{
    height: 50px;
    width: 150px;
    font-family: 'Karla', sans-serif;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.5px;
    color: #258AFF;
    border-color: #FFFFFF ;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #FFFFFF;
  
}

.phone{
    padding-left: 150px;
    float: left;
    height: 600px;
}
.list-3{
    
   height: 1078px;
   padding-top: 100px;
   padding-left: 150px;
}

.content-3{
  text-align: left;
 max-width: 480px;
 display: flex;
 flex-direction: column;
 margin: 0%;
}
.name-3{

    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #1F1F1F;
}
.text-5{
    letter-spacing: 2.8125px;
   font-weight: bold;
   line-height: 9px;
   color: #258AFF;
    font-size: 15px;
    font-family: 'Karla', sans-serif;
}
.text-6{
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #666666;
}
.corn{
  float: right; 
  padding-right: 250px;
  height: 600px;
 padding-top: 10px;
}
.page-2{
    display: flex;
    flex-direction: row;
padding-top: 130px;
width: 100%;
max-width: 443px;

}
.page-2 h4{
    font-family: 'Karla', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 21px;
line-height: 10px;
letter-spacing: -1px;
color: #000000;
}
.page-2 p{
    font-family: 'Karla', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 28px;
color: #666666;
}
.icon2{
    width: 50px;
}
.icon, h4{
    display: block;
}
.list-4{
    width: 100%;
    height: 1078px;
}
.content-4{
    text-align: left;
 max-width: 315px;
 display: flex;
 flex-direction: column;
 padding-top: 300px;
margin: 0 auto;
}
.information{
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.036062);
border-radius: 5px;
width: 300px;
height: 250px;
display: flex;
text-align: left;
justify-content: center;
align-content: center;
}
.person{
    width: 540px;
    display: flex;
    flex-direction: column;
  align-items: center;
  text-align: left
  ;
 
}
.desc{
    font-family:  'Rubik', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32x;
letter-spacing: -0.1px;
color: #1F1F1F;
width: 274px;

}
h6{
    font-family: 'Karla', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 28px;
letter-spacing: -0.31875px;
color: #1F1F1F;
}
.mainly{
    font-family: 'Karla', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 28px;
letter-spacing: -0.4px;
color: #666666;
}

.picture-1{
    width: 43px;
    height: 43px;
}