@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;1,700&display=swap');

body{
    width: 100%;
    overflow-x:hidden;
    background: #E5E5E5;
    height: 5640px;}

nav{
    display: flex;
    position: relative;
    left: 320px;
    top: 20px;
}

nav a{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #1F1F1F;
    text-decoration: none;

}

nav ul{
    height: 19px;
    list-style-type: none;
}
nav ul li{
    display: inline;
}

button{
    height: 40px;
    padding-top: 20px;
    font-family: 'Karla', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.5px;
    color: #258AFF;
    border-color: #258AFF ;
    box-sizing: border-box;
    border-radius: 3px;
  position: relative;
  left: 950px;
  top: 20px;
}

.logo{
 
height: 30px;
font-family: 'Karla', sans-serif;
font-size: 25px;
line-height: 30px;
color: #1F1F1F;
position: relative;
left: 216px;
top: 20px;
}
.content-1{
    display: flex;
    flex-direction: column;
  justify-content: flex-start;
  align-items: center;
    
}
.name-1{

    font-family: 'Karla', sans-serif;
    max-width: 307px;
    font-size: 35px;
}
.text-1{
    max-width: 225px;
   
    font-size: 15px;
    font-family: 'Karla', sans-serif;
}
.text-2{
    font-family: 'Karla', sans-serif;
   max-width: 273px;
    font-size: 21px;
}
.list-2{
    
    height: 895px;
    width: 840px;
    background-color: #258AFF;
    color: white;
    position: relative;
    top: 710px;
    
    
}
.content-2{
   display: flex; 
   flex-direction: column;
   align-content: center;
}
img{
    padding-left: 211px;
    
}
.text-3{
    

}
.text-4{
    
}
.name-2{
    
}